rspack.config.js
kwin-ts-output/
.env.local

# temp-delete-me* is a prefix for temporary development files
# so that references to them alert the developer to undo
# the usage of temporary development files that won't be checked in.
# This can be useful if using sensitive information in local files you do
# not want to accidnetally check in, however still take high security
# measure for your secrets and do not let files like these linger.
temp-delete-me*

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

*ignore-me*

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
